body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0D3A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#landing-box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

#welcome-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  padding: 4vh 9vh;
  color: azure;
}

.instadventure-name{
  text-shadow: 0.08em 0.08em orangered;
}

#landing a {
  color:lightskyblue;
}

#login-component {
  display:flex;
  justify-content: space-evenly;
}
