body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0F0D3A;
  color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

}

#landing-box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  overflow: auto;
}

#welcome-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  padding: 9vh 4vh;
  color: azure;
}

.instadventure-name{
  text-shadow: 0.08em 0.08em orangered;
}

.firebaseui-idp-list {
  display:flex;
  justify-content: space-between;
  margin-bottom: 6em;
}

.firebaseui-list-item {
  margin: 5vh;
}

.firebaseui_container {
  margin-bottom: 6em;
}

@media (min-width: 451px) {
  #landing-box {
    margin: 0vh 8vh;
  };
}
@media (max-width: 450px) {
  .firebaseui-idp-list {
    flex-direction: column;
    align-content: space-between;
  }
}

/* GameList */

#game-list {
  margin: 10vh 4vh;
}

/* #games {

}

.GameRow {

} */

#game-list > h1 {
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

#game-list > h2 {
  color: orangered !important;
}

#game-list>h3 {
  color: #96FFFF !important;
  font-size: 80% !important;
}

.games-button {
  display: flex;
  justify-content: space-around;
}

/* #game-list > button {

}

.LogMessage {

} */
